<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
</head>

<body>
    <div class="main">

        <a href="">ADD STUDENT</a>
        <a href="">SEARCH STUDENT</a>
        <a href="">UPDATE STUDENT</a>
        <a href="">DELETE STUDENT</a>
        <a href="">VIEW STUDENT</a>
    

    </div>
</body>

</html>